body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'open sans', 'Helvetica Neue', Helvetica, sans-serif;
    margin-left: 5em;
    margin-right: 5em;
    letter-spacing: 0.1em;
}

h1, h2 {
    font-weight: 100;
    letter-spacing: 0.5em;
    text-align: center;
}

h1 {
    text-transform: uppercase;
}

h2 {
    text-transform: lowercase;
}

li {
    list-style: none;
}

footer {
    font-size: small;
    text-align: center;
    letter-spacing: 0.2em;
}

nav {
    margin-bottom: 3em;
    margin-top: 3em;
    display: flex;
    justify-content: center;
}

#about {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#presentation {
    max-width: 800px;
}

#skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 500px;
}

#about-p {
text-align: center;
}

.nav-link {
    margin: 0em 4em
}